/* ===================
VAT CALCULATOR: VatCalculatorForm.js
===========*/
#vat-calculator-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    padding: 10px;
    margin: 0px;
    border-radius: 8px;
    background-color: #A8AEB3;
    gap: 10px;
    width: 500px;
}
.vat-calculator-label{
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
/* LAYOUT */
#vatCalcHeadingBlock{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}
/* ====INPUT====== */
/* ==============
LAYOUT
==============*/
#vat-calculator-input{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#vat-form-group1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#vat-calculator-stack1{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#vat-calculator-block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#vat-calculator-block2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
#vat-calculator-block3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0px;
    padding: 0px;
}
#vat-calc-btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 5px;
}
#vat-calculator__checkbox{
    display: flex;
    margin: 0px;
    padding: 0px;
}
/* ===============
 BUTTONS https://react-bootstrap.netlify.app/docs/components/buttons 
 =================*/
#vat-calc-typebtn1,
#vat-calc-typebtn2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 320px;
     height: 40px;
     font-family: "Courier Prime", monospace;
     font-weight: 700;
     letter-spacing: 1px;
     border: #323A42 solid 2px;
    color: #000;
}
#vat-calc-typebtn1:hover,
#vat-calc-typebtn2:hover,
#save-to-history-btn:hover{
    background-color: #323A42;
    color: #E8F0F6;
}
#save-to-history-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 230px;
     height: 40px;
     font-family: "Courier Prime", monospace;
     font-weight: 700;
     letter-spacing: 1px;
     border: #323A42 solid 2px;
    color: #000;
}
/* ===============
PROVISIONAL TAX CALCULATOR: ProvisionalTaxCalculator.js
===============*/