#calculator-layout{
    width: 90%;
    margin: 0px;
    border-radius: 5px;
    border: solid #1B1E21 2px;
    padding: 10px 0px;
    display: flex;
    background-color: #9E9E9E;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
}
/* HEADING */
.calculator-heading-block{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.calculatorHeading{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
/* LABEL */
.calculatorLabel{
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  margin: 0px;
  letter-spacing: 2px;
  padding: 0px;
  text-decoration: underline 2px;
}
#basic-calculator-block{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 0px;
    padding: 0px;
}
/* INPUT */
#calculator-input-block{
    display: flex;
    justify-content: center;
    background-color: silver;
    align-items: center;
    margin: 0px;
    border-radius: 8px;
    gap: 10px;
    padding: 5px;
}

#basic-calculator-input{
        display: flex;
    justify-content: center;
    background-color: #A8AEB3;
    margin: 0px;
    padding: 10px;
}
#general-calculatorStack{
    display: flex;
    justify-content: center;
    width: 300px;
}
#calculator-btn-block{
    display: flex;
    justify-content: center;
}