/* CurrencyConverter.css
CurrencyConverterForm.js
*/
#currency-converter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    border: solid;
    padding: 10px;
    margin: 0px;
    border-radius: 8px;
    background-color: #A8AEB3;
    gap: 10px;
}
/* =============================
LAYOUT
===================*/
#converter-details-input{
    display: flex;
    background-color: #BFBFBF;
  width: 80%;
  margin: 0px;
padding: 0px;
}
/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#converterStack1{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#converterAmountBlock,
#convertFromBlock,
#convertToBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    gap: 5px;
}
/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#converterStack2{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#submit-converter-btn-block,
#clearFormBtn-block{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;

}
#converterResultBlock{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;

}
.select-currency{
    width: 200px;
    text-align: center;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  font-weight: 700;
}
.select-currency:focus{
    display: flex;
    flex-direction: column;
}
/* ====================
TEXT
===================== */
#converter-formheadingBlock{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 5px 0px;
    width: 100%;
}
.converterLabel{
   font-family: "Courier Prime", monospace;
  font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  padding: 0px;
}
/* ===============
 BUTTONS https://react-bootstrap.netlify.app/docs/components/buttons 
 =================*/
#saveConversionBtn,
 #submitConvertBtn{
    width: 180px;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 40px;
     font-family: "Courier Prime", monospace;
     letter-spacing: 2px;
     font-weight: 700;
    justify-content: center;
    align-items: center;
    border: #323A42 solid 2px;
    color: #000;
}
#saveConversionBtn:hover,
#submitConvertBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}