/* CurrencyConverter.css
CurrencyConverterForm.js
*/
#currency-converter-form{
    width: 370px;
    border: solid;
    padding: 10px;
    margin: 0px;
    border-radius: 8px;
    background-color: #A8AEB3;
}
/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#converterStack1{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#converterAmountBlock,
#convertFromBlock,
#convertToBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    gap: 5px;
}
/* STACK 2 */
#submit-converter-btn-block,
#clearFormBtn-block,
#converterResultBlock{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;

}
/* ====================
TEXT
===================== */
.converterLabel{
   font-family: "Courier Prime", monospace;
  font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  padding: 0px;
}
/* ===============
 BUTTONS https://react-bootstrap.netlify.app/docs/components/buttons 
 =================*/
#submitConvertBtn{
    width: 180px;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 40px;
     font-family: "Courier Prime", monospace;
     letter-spacing: 2px;
     font-weight: 700;
    justify-content: center;
    align-items: center;
    border: #323A42 solid 2px;
    color: #000;
}
#submitConvertBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}