/* EditTaxForm.css */
#change-tax-year-form{
    display: flex;
    background-color: #A8AEB3;
    margin: 0px;
    padding: 0px;
    width: 50%;
}
/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#edit-tax-year-stack{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#edit-year-block{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
    flex-direction: column;
}
#edit-year-block2{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.edit-taxyear-label{
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
  margin: 0px;
  letter-spacing: 1px;
  padding: 0px;
}
#edit-taxyear-input{
  text-align: center;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  font-weight: 700;
}
/* BUTTONS: https://react-bootstrap.netlify.app/docs/components/buttons */
#saveTaxYearBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0px;
    padding: 0px;
    color: #000;
    border: #ffc107;
}
#saveTaxYearBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}