/* FormSetup.css */
#formHeadingBlock{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#formHeading{
     font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
    letter-spacing: 2px;
    margin: 0px;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0px;
    text-transform: uppercase;
}
/* INPUT FIELDS */
.input-div{
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 5px;
  align-items: baseline;
}
#checkbox-div{
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}
.input {
  text-align: center;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  font-family: "Courier Prime", monospace;
  font-size: 16px;
  font-weight: 700;
}

/* TEXT */
.msgText{
   margin: 0px;
    padding: 0px;
    color: #000;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.infoText{
  text-transform: uppercase;
    color: #404040;
    text-align: center;
    margin: 0px;
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-decoration: underline;
}
/* ===============
BUTTONS: https://react-bootstrap.netlify.app/docs/components/buttons
====================== */
/* BUTTONS */
#showPasswrdBtn{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier Prime", monospace;
  font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   height: 40px;
   margin: 0px;
   padding: 0px;
   border: solid 2px #323A42;
}
#clearFormBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0px;
    padding: 0px;
    border: solid 2px #323A42;
}
#showPasswrdBtn:hover,
#clearFormBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;    
}