/* Header.css */
#appHeading{
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
}
#page-heading{

    text-decoration: underline;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Fira Sans", sans-serif;
    letter-spacing: 2px;
}
.headerSpan{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
}
/* MainHeader.js */
/*===============
 loggedIn = false 
 ====================*/
#mainHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px 5px 0px;
    background-color: #B6C6D4;
}
#mainNavbar{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
    list-style-type: none;
}
/* BOOTSTRAP */
#headerRow1{
    width: 100%;
    height: 10px;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#headerRow2{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#headerRow3{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#headerNavRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#navCol{
    display: flex;
    justify-content: center;
        width: 100%;
    margin: 0px;
    padding: 0px;
}
#mainHeaderStack{
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#navbar-block1,
#navbar-block2{
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}
/*===============
 loggedIn = true 
 ====================*/
#header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px 5px 0px;
    background-color: #B6C6D4;
}
#header-col{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}