/* =======================
NAVIGATION BAR: based on loggedIn state
==============*/
/*===============
 loggedIn = false 
 ====================*/
/* -------------
LAYOUT
--------------------- */
#navigation{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#mainNavRow,
#navRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#mainNavCol{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#loginNavBar{
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
    list-style-type: none;
}

/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#main-nav-block{
    border-bottom: solid;
    margin: 0px;
    padding: 5px;
    display: flex;
    background-color: #D4D5D6
}
#navbar{
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    align-items: center;
    list-style-type: none;
}

/* LINK */
.linkItem{
    width: 180px;
    display: flex;
    align-items: center;
    width: 230px;
}
.refLink{
    display: flex;
    letter-spacing: 2px;
    align-items: center;
    width: 230px;
    font-family: "Roboto Mono", monospace;
    margin: 0px;
    color: #000;
    padding: 0px;
    text-decoration: none;
    height: 40px;
    font-weight: 700;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    background-color: #E8F0F6;
    border: solid 2px #323A42;
}
.refLink:hover{
    background-color: #323A42;
    color: #E8F0F6;
    text-decoration: underline;
}
.refLink:active{
     background-color: #323A42;
    color: #E8F0F6;
    text-decoration: underline;
}
.refLink.active{
    background-color: #323A42;
    color: #E8F0F6;
    text-decoration: underline;
}