/* RegisForm.css */
#registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 10px 5px;
    gap: 10px;
    background-color: #A8AEB3;
}
/* Label */
.regis-label{
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    color: #000;
}
/* LAYOUT */
/* INPUT DETAILS */
#regis-input-details{
    display: flex;
    flex-direction: column;
    align-items: center;
background-color: #BFBFBF;
width: 80%;
margin: 0px;
padding: 10px;
gap: 10px;
}
/* GROUP 1: Full Name */
#regis-group1{
    width: 100%;
    margin: 0px;
    padding: 5px;
    border: solid #323A42 2px;
    background: #D6D6D6;
    border-radius: 8px;
}
/* STACK 1: https://react-bootstrap.netlify.app/docs/layout/stack */
#regis-stack1{
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#regis-fullName-block{
    display: flex;
    align-items: baseline;
    gap: 5px;
}
#regis-fullName{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
/* GROUP 2: Email + DateOfBirth */
#regis-group2{
    width: 100%;
    margin: 0px;
    padding: 5px;
    border: solid #323A42 2px;
    background: #D6D6D6;
    border-radius: 8px;
}
/* STACK 2,3: https://react-bootstrap.netlify.app/docs/layout/stack */
#regis-stack2,
#regis-stack3{
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* GROUP 3: Admin + Password*/
#regis-group3{
    width: 100%;
    margin: 0px;
    padding: 5px;
    border: solid #323A42 2px;
    background: #D6D6D6;
    border-radius: 8px;
}
/* STACK https://react-bootstrap.netlify.app/docs/layout/stack */
#regis-stack4,
#regis-stack5{
    width: 100%;
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}
#admin-reg-block{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
#reg-pswd-block{
    display: flex;
    align-items: baseline;
    gap: 5px;
}

/* GROUP 4 */
#regis-group4{
    display: flex;
    width: 80%;
    margin: 0px;
    padding: 5px;
}
/* STACK 6: https://react-bootstrap.netlify.app/docs/layout/stack */
#regis-stack6{
    display: flex;
    align-items: baseline;
    width: 100%;
}
/* ===============
BUTTONS: https://react-bootstrap.netlify.app/docs/components/buttons
====================== */
#regis-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Courier Prime", monospace;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px;
    border: solid 2px #323A42;
}
#regis-btn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}