#currency-converter-sec1{
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 5px;
    background-color: #878787;
}
/* ===============
LAYOUT
====*/
#currency-converter-panal{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 5px;
    background-color: #9E9E9E;
}
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#currency-converter-row{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#currency-convert-col{
    margin: 0px;
    padding: 0px;
}
#currency-convert-col1,
#currency-convert-col2{
    margin: 0px;
    padding: 0px;
}