/* CurrencyConvert.css
CurrencyConverter.js*/
/* ============
SECTOPN 1
==========*/
#currency-converter-sec1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 5px;
    background-color: #4da6ff;
}
/* ===============
LAYOUT
====*/
#currency-converter-panal{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px 5px;
    background-color: #9E9E9E;
}
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#currency-converter-row{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#currency-convert-col{
    display: flex;
    margin: 0px;
    padding: 0px 5px;
    justify-content: center;
}
#currency-convert-col1,
#currency-convert-col2{
    margin: 0px;
    padding: 0px;
}
/* ==================
SECTION 2: AVAILABLE CURRENCIES + CURRENCY CALCULATIONS
===========*/
#currency-converter-sec2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 10px;
    background-color: #8dbdca;
}
/* ================
LAYOUT
============*/
#currencies-display-panal,
#currency-calculations-panal{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* BOOTSTRAP:LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#toggle-currencies-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggle-currencies-col{
    display: flex;
    margin: 0px;
    padding: 0px;
}
#currencies-list-row,
#currency-calculations-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#currencies-list-col,
#currency-calculations-col{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    justify-content: center;
}
/* STACK: https://react-bootstrap.netlify.app/docs/layout/stack */
#toggle-currencies-stack{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* CURRENCIES LISTS: AVAILABLE CURRENCIES AND CURRENCY CALCULATIONS */
#currency-list-display,
#currency-calculations-display{
    width: 100%;
    /* background-color: #404040; */
    border-radius: 8px;
    margin: 0px;
    padding: 0px 5px;
}
/* ===============
 BUTTONS https://react-bootstrap.netlify.app/docs/components/buttons 
 =================*/
 #toggleCurrCalc-listBtn,
#toggle-currencies-listbtn{
     width: 280px;
    color: #000;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px;
    font-family: "Courier Prime", monospace;
    border: #323A42 solid;

}
#toggleCurrCalc-listBtn:hover,
#toggle-currencies-listbtn:hover{
    background-color: #323A42;
    color: #E8F0F6;
}