#dashBoardSec1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 5px;
    background-color: #1262B3;
}
/* LAYOUT */
#dashboard-panal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* BOOTSTRAP LAYOUT */
/* Grid: https://react-bootstrap.netlify.app/docs/layout/grid */
#tax-year-head-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#taxYearHeadCol{
margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#taxYearHeadCol1,
#taxYearHeadCol2{
    margin: 0px;
    padding: 0px;
}
/* TABS: https://react-bootstrap.netlify.app/docs/components/tabs */
#dashboard-tab{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}
/* Tab Links */
.nav-tabs .nav-link{
    color: #000;
    text-transform:uppercase ;
    font-weight: 700;
}
.nav-tabs .nav-link:active{
    color: #000;
    text-transform:uppercase ;
    font-weight: 700;
    border: solid;
}