#dashBoardSec1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 5px;
    background-color: #1262B3;
}
/* LAYOUT */
#dashboard-panal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* BOOTSTRAP LAYOUT */
/* Grid: https://react-bootstrap.netlify.app/docs/layout/grid */
#tax-year-head-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#taxYearHeadCol{
margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#taxYearHeadCol1,
#taxYearHeadCol2{
    margin: 0px;
    padding: 0px;
}
#change-tax-year-row{
    width: 100%;
}
#change-tax-year-col1,
#change-tax-year-col2{
    margin: 0px;
    padding: 0px;
}
#change-tax-year-toggle{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: 0px;
}
/* TABS: https://react-bootstrap.netlify.app/docs/components/tabs */
#dashboard-tab{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}
/* Tab Links */
.nav-tabs .nav-link{
    color: #000;
    text-transform:uppercase ;
    font-weight: 700;
}
.nav-tabs .nav-link:active{
    color: #000;
    text-transform:uppercase ;
    font-weight: 700;
    border: solid;
}
#tax-year-span{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    border-bottom: solid #404040;
}
#tax-year-span h4{
    margin: 0px;
    padding: 0px;
}

#toggle-tax-year-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 5px 3px 5px 0px;
    gap: 10px;
}
#change-tax-year-panal{
        width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
}
#toggle-tax-year-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 180px;
    height: 40px;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    border: solid 2px #323A42;
}

#toggle-tax-year-btn:hover{
    color: #E8F0F6;
    background-color: #323A42;

}
