/* ERRORS */
/* ==========
LAYOUT
===========*/
#globalErrorBlock{
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* BOOTSTRAP LAYOUT */
#globalErrorRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#globalErrorCol{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#globalErrorCol1,
#globalErrorCol2{
    margin: 0px;
    padding: 0px;
}
/* ERROR TEXT */
/* LAYOUT */
#error-span{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}
/* TEXT */
#errorMessage{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #661820;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Noto Serif", serif;
}
/* PAGE NOT FOUND */
#pageNotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
     margin: 0px;
     padding: 20px;
     gap: 10px;
}
/* TEXT */
#pageNotFound-text{
    display: flex;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
     color: #470D09;
     font-family: "Noto Serif", serif;
     margin: 0px;
     letter-spacing: 3px;
     padding: 0px;
}