/* FORGOT PASSWORD PAGE */


#forgot-password-section{
     display: flex;
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
    background-color: #4da6ff;
}
#forgot-password-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#forgotPswdHeading{
    text-align: center;
}
#reset-password-panal{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
#forgot-password-col{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#forgot-password-col1,
#forgot-password-col2{
    margin: 0px;
    padding: 0px;
}
#forgot-password-form{
    display: flex;
    justify-content: center;
    
    background-color: #A8AEB3;
margin: 0px;
padding: 0px;
width: 400px;

}
#forgot-password-input{
    display: flex;
    width: 350px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px;
}
#forgot-pswd-stack1,
#forgot-pswd-stack2{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#newPswdInputBlock,
#send-linkbtn-block{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#reset-password-row{
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
}
#sendResetPswdBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    border: solid 2px #323A42;
}
#sendResetPswdBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}
/* RESET PASSWORD PAGE */