#profile-section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 5px;
    background-color: #878787;
}
/* ===============
LAYOUT
============*/
#user-profile-div{
    width: 90%;
    margin: 0px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #D4D5D6;
}
#edit-user-panal{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#edit-password-panal{
     margin: 0px;
    padding: 0px;
    width: 100%;
}
/* BOOTSTRAP LAYOUT */
/* GRID: https://react-bootstrap.netlify.app/docs/layout/grid */
#user-profileRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggle-edit-user-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#edit-user-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#edit-password-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#edit-password-col{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#edit-password-col1,
#edit-password-col2{
    margin: 0px;
    padding: 0px;
}
#toggle-edit-user-col{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/* STACK */
#edit-user-stack{
    display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#edit-password-block{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    width: 100%;
}
/* ===============
 BUTTONS https://react-bootstrap.netlify.app/docs/components/buttons 
 =================*/
#toggleEditUserBtn,
#toggleEditPswdBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: #000;
    font-weight: 700;
    height: 40px;
    font-family: "Courier Prime", monospace;
    border: #323A42 solid;
    text-transform: uppercase;
}
#toggleEditUserBtn:hover,
#toggleEditPswdBtn:hover{
    color: #E8F0F6;
    background-color: #323A42;
}