#profile-section1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 0px;
    gap: 5px;
    background-color: #878787;
}
#user-profile-div{
    width: 80%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#edit-user-panal{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#edit-password-panal{
     margin: 0px;
    padding: 0px;
    width: 100%;
}
#edit-password-col{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
#edit-password-col1,
#edit-password-col2{
    margin: 0px;
    padding: 0px;
}
#edit-password-block{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    width: 100%;
}
#user-profileRow{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#toggle-edit-user-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#edit-user-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#edit-password-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}
#toggle-edit-user-col{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#edit-user-stack{
    width: 100%;
}
#toggleEditUserBtn,
#toggleEditPswdBtn{
    width: 180px;
    color: #000;
    font-weight: 700;
    height: 40px;
    font-family: "Courier Prime", monospace;
    border: #323A42 solid;
    text-transform: uppercase;
}