#admin-section1{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #4da6ff;
}
#change-tax-data-panal{
    width: 100%;
    margin: 0px;
    padding: 5px;
    display: flex;
}
#toggle-tax-update-row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#add-tax-data-row{
    width: 100%;
    margin: 0px;
    padding: 0px;

    
}
#add-tax-data-col{
    margin: 0px;
    padding: 0px;
    width: 100%;
}